@mixin telefono {
    @media (max-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin desktopPlus {
    @media (max-width: $desktopPlus) {
        @content;
    }
}
@mixin desktop4k {
    @media (min-width: $desktop4k) {
        @content;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;

}