.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(/build/img/black-memphis-pattern-background-block-prints.webp);
  background-size: cover;
}

.watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 78, 78, 0.664);
  padding: 35px;
  border: 10px solid rgba(53, 53, 53, 0.664);
}

.hora {
  display: flex;
  justify-content: center;
  min-width: 600px;
}

.dias,
.horas,
.minutos,
.segundos,
.sep {
  font-size: 20rem;
  color: #dbdedb;
  margin: 0;
}

.dias {
  margin: 10px;
  font-size: 8rem;
  font-family: $fuentesec;
  letter-spacing: 10px;
  text-align: center;
  background-color: rgba(94, 94, 94, 0.623);
  border: 10px solid rgba(228, 228, 228, 0.87);

  width: 60%;
}

//Media Queries
@include tablet {
  .watch {
    width: 100%;
  }

  .dias {
    margin: 10px;
    font-size: 6rem;
    width: 300px;
  }

  .horas,
  .minutos,
  .segundos,
  .sep {
    font-size: 16rem;
  }
}

@include telefono {
  .dias {
    font-size: 3rem;
    width: 200px;
  }

  .horas,
  .minutos,
  .segundos,
  .sep {
    font-size: 10rem;
  }
}
