@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Qahiri&display=swap");
@import "base/normalize";
@import "base/var";
@import "base/mixins";
@import "base/global";
@import "base/utilidades";
@import "layout/general";